body, html {
    height: 100%;
}

body {

    background-image: url("../img/forno.jpg");

    height: 100%;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    margin-bottom: 50px;
}

.page-footer {;
  margin-top: 50%;
}

.color {
  background-color: #000000 !important;
  opacity: 0.8;
}

.login-box  {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
